{% extends "admin.html.twig" %}

{% block body %}
	<h1 class="mb-4">Trainers List
		{% if app.user %}
			- Hello
			{{ app.user.firstName|capitalize }}
		{% endif %}
	</h1>
	<a href="{{ path('app_admin_create_trainer')}}" class="btn btn-primary mb-3">Create New Trainer</a>
	<table class="table table-success table-striped">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Profession</th>
				<th>Articles</th>
				<th>Subjects</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% if trainers %}
				{% for trainer in trainers %}
					<tr>
						<td>{{ trainer.firstName }}</td>
						<td>{{ trainer.lastName }}</td>
						<td>{{ trainer.profession }}</td>
						<td>{{ trainer.articles | length }}</td>
						<td>
							{% if trainer.subjects %}
								{% for subject in trainer.subjects %}
									<span>{{subject.name}}</span>
								{% endfor %}
							{% endif %}
						</td>
						<td>
							<a href="{{path('app_admin_show_trainer', {id: trainer.id})}}" class="btn btn-info btn-sm">View</a>
							<a href="{{path('app_admin_update_trainer', { id : trainer.id })}}" class="btn btn-warning btn-sm">Edit</a>
							{% include 'admin/trainer/partials/_form_delete.html.twig' with {'id': trainer.id } %}
						</td>
					</tr>
				{% endfor %}
			{% endif %}

		</tbody>
	</table>
{% endblock %}
